.content {
    width: 1090px;
    margin: 0 auto;
    overflow: auto;
}
img {
    float: left;
    width: 450px;
    margin: 120px 50px 80px 100px;
}
#content {
    font-size: 15px;
    font-family: Arial, Helvetica, Verdana, Sans-serif;
    float: right;
    margin: 100px 50px;
    padding: 50px 20px 20px 20px;
    border: 1px solid white;
    background: white;
    box-shadow: 0px 0px 20px #e0e0e0;
}
input.button {
    width: 100%;
}
tr {
    display: block;
    margin-bottom: 20px;
}
label {
    margin-right: 10px;
}
td input {
    width: 180px;
    height: 25px;
    background: white;
    margin-bottom: 0;
    margin-top: 0;
}
p {
    float: right;
}

