<!DOCTYPE HTML>
<html>
<head>
<title>Store List</title>
<link rel="stylesheet" href="styles/list.css" />
<link rel="stylesheet" href="styles/header.css" />
<link rel="stylesheet" href="styles/base.css" />
<link rel="stylesheet" href="styles/footer.css" />
</head>
<body>
<div class="header">
<div class="header__details">
<div class="header__logo"></div>
<div class="header__login-register">
<a class="header__login-register__login" href="file:///D:/store/login.html">Login</a>
<span class="header__login-register__vline">|</span>
<a class="header__login-register__register" href="file:///D:/store/register.html">Register</a>
</div>
<a class="header__username" href="file:///D:/store/user.html">Username</a>
<a class="header__mycart" href="file:///D:/store/cart.html">My Cart</a>
</div>
</div>
<div class="content">
<div class="search">
<input class="search__searchbox" type="search" />
</div>
<div class="list">
<a class="list__product" href="file:///D:/store/details.html">
	<img src="images/list/product.png">
	<div class="list__product__name">Baby Cream</div>
	<div class="list__product__pr-st">
	<span class="list__product__pr-st__price">$ 10.00</span>
	<span class="list__product__pr-st__stock"><em>Stock: </em>89</span></div>
	<div class="list__product__description"><p>Baby,Oats,Moisten long,Nutrition</p></div>
</a> 
<a class="list__product" href="file:///D:/store/details.html">
	<img src="images/list/product.png">
	<div class="list__product__name">Baby Cream</div>
	<div class="list__product__pr-st">
	<span class="list__product__pr-st__price">$ 12.34</span>
	<span class="list__product__pr-st__stock"><em>Stock: 89</em></span></div>
	<div class="list__product__description"><p>Baby,Oats,Moisten long,Nutrition</p></div>
</a> 
<a class="list__product" href="file:///D:/store/details.html">
	<img src="images/list/product.png">
	<div class="list__product__name">Baby Cream</div>
	<div class="list__product__pr-st">
	<span class="list__product__pr-st__price">$ 12.34</span>
	<span class="list__product__pr-st__stock"><em>Stock: 89</em></span></div>
	<div class="list__product__description"><p>Baby,Oats,Moisten long,Nutrition</p></div>
</a> 
<a class="list__product" href="file:///D:/store/details.html">
	<img src="images/list/product.png">
	<div class="list__product__name">Baby Cream</div>
	<div class="list__product__pr-st">
	<span class="list__product__pr-st__price">$ 12.34</span>
	<span class="list__product__pr-st__stock"><em>Stock: 89</em></span></div>
	<div class="list__product__description"><p>Baby,Oats,Moisten long,Nutrition</p></div>
</a> 
<a class="list__product" href="file:///D:/store/details.html">
	<img src="images/list/product.png">
	<div class="list__product__name">Baby Cream</div>
	<div class="list__product__pr-st">
	<span class="list__product__pr-st__price">$ 12.34</span>
	<span class="list__product__pr-st__stock"><em>Stock: 89</em></span></div>
	<div class="list__product__description"><p>Baby,Oats,Moisten long,Nutrition</p></div>
</a> 
<a class="list__product" href="file:///D:/store/details.html">
	<img src="images/list/product.png">
	<div class="list__product__name">Baby Cream</div>
	<div class="list__product__pr-st">
	<span class="list__product__pr-st__price">$ 12.34</span>
	<span class="list__product__pr-st__stock"><em>Stock: 89</em></span></div>
	<div class="list__product__description"><p>Baby,Oats,Moisten long,Nutrition</p></div>
</a> 
<a class="list__product" href="file:///D:/store/details.html">
	<img src="images/list/product.png">
	<div class="list__product__name">Baby Cream</div>
	<div class="list__product__pr-st">
	<span class="list__product__pr-st__price">$ 12.34</span>
	<span class="list__product__pr-st__stock"><em>Stock: 89</em></span></div>
	<div class="list__product__description"><p>Baby,Oats,Moisten long,Nutrition</p></div>
</a> 
<a class="list__product" href="file:///D:/store/details.html">
	<img src="images/list/product.png">
	<div class="list__product__name">Baby Cream</div>
	<div class="list__product__pr-st">
	<span class="list__product__pr-st__price">$ 12.34</span>
	<span class="list__product__pr-st__stock"><em>Stock: 89</em></span></div>
	<div class="list__product__description"><p>Baby,Oats,Moisten long,Nutrition</p></div>
</a> 
<a class="list__product" href="file:///D:/store/details.html">
	<img src="images/list/product.png">
	<div class="list__product__name">Baby Cream</div>
	<div class="list__product__pr-st">
	<span class="list__product__pr-st__price">$ 12.34</span>
	<span class="list__product__pr-st__stock"><em>Stock: 89</em></span></div>
	<div class="list__product__description"><p>Baby,Oats,Moisten long,Nutrition</p></div>
</a> 
<a class="list__product" href="file:///D:/store/details.html">
	<img src="images/list/product.png">
	<div class="list__product__name">Baby Cream</div>
	<div class="list__product__pr-st">
	<span class="list__product__pr-st__price">$ 12.34</span>
	<span class="list__product__pr-st__stock"><em>Stock: 89</em></span></div>
	<div class="list__product__description"><p>Baby,Oats,Moisten long,Nutrition</p></div>
</a> 
</div>
</div>
<div class="footer"><em>Store</em></div>
</body>
</html>