<!DOCTYPE HTML>
<html>
<head>
<title>Store Register</title>
<link rel="stylesheet" href="styles/register.css" />
<link rel="stylesheet" href="styles/header.css" />
<link rel="stylesheet" href="styles/base.css" />
<link rel="stylesheet" href="styles/footer.css" />
</head>
<body>
<div class="header">
<div class="header__details">
<div class="header__logo"></div>
<div class="header__login-register">
<a class="header__login-register__login" href="file:///D:/store/login.html">Login</a>
<span class="header__login-register__vline">|</span>
<a class="header__login-register__register" href="file:///D:/store/register.html">Register</a>
</div>
<a class="header__username" href="file:///D:/store/user.html">Username</a>
<a class="header__mycart" href="file:///D:/store/cart.html">My Cart</a>
</div>
</div>
<div class="content">
<img src="images/login/advertisement.png" alt="Advertisement" />
<div id="content">        
<form method="post" action=".">
  <input type="hidden" name="csrfmiddlewaretoken" value="hyHui2s1vdLyz4QzjoeAGw1JkF2vHZuORej9bzJMNReTrcau08RQj1m30HjJDhFm">
  <p><label for="id_username">Username:</label> <input class="content__info" autofocus="" id="id_username" maxlength="150" name="username" type="text" required=""> <span class="helptext">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</span></p>
<p><label for="id_email">Email:</label> <input class="content__info" id="id_email" name="email" type="email" required=""> <span class="helptext">Please enter your email address</span></p>
<p><label for="id_password1">Password:</label> <input class="content__info" id="id_password1" name="password1" type="password" required=""></p>
<p><label for="id_password2">Password confirmation:</label> <input class="content__info" id="id_password2" name="password2" type="password" required=""> <span class="helptext">Enter the same password as before, for verification.</span></p>

<input class="content__submit" type="submit" value="Submit">
</form>

 </div>
 </div>
<div class="footer"><em>Store</em></div>
</body>
</html>