.content {
    width: 1090px;
    margin: 0 auto;
    overflow: auto;
}
img {
    float: left;
    width: 450px;
    margin: 150px 30px 50px 50px;
}
#content {
    font-size: 15px;
    font-family: Arial, Helvetica, Verdana, Sans-serif;
    float: right;
    margin: 100px 50px;
    padding: 50px 20px;
    border: 1px solid white;
    background: white;
    box-shadow: 0px 0px 20px #e0e0e0;
}
#content span {
    display: block;
    font-size: 12px;
    color: lightgrey;
    margin-top: 10px;
}
p {
    margin-bottom: 20px;
}
p input {
    line-height: 25px;
}
p label {
    vertical-align: middle;
}
#id_username {
    width: 200px;
    float: right;
}
#id_email {
    width: 200px;
    float: right;   
}
#id_password1 {
    width: 200px;
    float: right;
}
#id_password2 {
    width: 200px;
    float: right;
}
.content__submit {
    width: 100%;
}