<!DOCTYPE HTML>
<html>
<head>
<title>{% block title %}Store List{% endblock %}</title>
<link rel="stylesheet" href="/styles/list.css" />
<link rel="stylesheet" href="/styles/header.css" />
<link rel="stylesheet" href="/styles/base.css" />
<link rel="stylesheet" href="/styles/footer.css" />
</head>
<body>
<div class="header">
<div class="header__details">
<div class="header__logo"></div>
<div class="header__login-register">
<a class="header__login-register__login" href="/login">Login</a>
<span class="header__login-register__vline">|</span>
<a class="header__login-register__register" href="/register">Register</a>
</div>
<a class="header__username" href="/user">Username</a>
<a class="header__mycart" href="/cart">My Cart</a>
</div>
</div>
<div class="content">{% block content %}{% endblock %}</div>
<div class="footer"><em>Store</em></div>
</body>
</html>