<!DOCTYPE HTML>
<html>
<head>
<title>{% block title %}Store List{% endblock %}</title>
{% load static %}
<link rel="stylesheet" href="{% static "styles/header.css" %}" />
<link rel="stylesheet" href="{% static "styles/base.css" %}" />
<link rel="stylesheet" href="{% static "styles/footer.css" %}" />
</head>
<body>
<div class="header">
    <div class="header__details">
        <a class="header__logo" href="/"></a>
        {% if request.user.is_authenticated %}
        <a class="header__logout" href="/logout">Logout</a>
        <a class="header__username" href="/orders">{{ request.user.username }}</a>
        {% else %}
        <div class="header__login-register">
            <a class="header__login-register__login" href="/login">Login</a>
            <span class="header__login-register__vline">|</span>
            <a class="header__login-register__register" href="/register">Register</a>
        </div>
        {% endif %}
        <a class="header__mycart" href="/cart">My Cart</a>
    </div>
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js
"></script>
<script>
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            var csrftoken = $.cookie('csrftoken');
            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader('X-CSRFToken', csrftoken);
            }
        }
    });
</script>
<div class="content">{% block content %}{% endblock %}</div>
<div class="footer"><em>Store</em></div>
</body>
</html>