{% extends "base.html" %}

{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static "styles/list.css" %}" />

<div class="list">
    {% for product in productList %}
        <a class="list__product" href="{% url 'detail' product.id %}">
            <img src="{{ product.productPicture1 }}">
            <div class="list__product__name">{{ product.productName }}</div>
            <div class="list__product__pr-st">
                <span class="list__product__pr-st__price">$ {{ product.retailPrice }}</span>
                <span class="list__product__pr-st__stock"><em>Stock: </em>{{ product.quantity }}</span>
            </div>
            <div class="list__product__description"><p>{{ product.description }}</p></div>
        </a>
    {% endfor %}
</div>

{% endblock %}
